/* Doodle CSS
 * https://github.com/chr15m/DoodleCSS
 */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.doodle * {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

.doodle {
    background-color: #fff;
    color: #000;
    margin: 0;
}

.doodle p {
    font-size: 1.6em;
}

.doodle input, .doodle textarea, .doodle table, .doodle img {
    max-width: 100%;
}

.doodle fieldset * {
    max-width: calc(100vw - 100px);
}

.doodle table {
    overflow: scroll;
}

.doodle a {
    color: #1c1c1c;
    font-weight: bold;
}

.doodle ul li {
    list-style-type: "* ";
}

.doodle label {
    padding: 0.25em 0px;
    display: inline-block;
}

.doodle fieldset, .doodle textarea {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(../img/doodle/border.svg) 10 10 10 10 stretch stretch;
}

.doodle .speechbubble {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(../img/doodle/border.svg) 10 10 10 10 stretch stretch;
}

.doodle .border, .doodle-border {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(../img/doodle/button.svg) 10 10 10 10 stretch stretch;
}

.doodle button, .doodle input, .doodle select, .doodle input[type="file"]::file-selector-button {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(../img/doodle/button.svg) 10 10 10 10 stretch stretch;
}

.doodle button, .doodle input[type=submit] {
    text-align: center;
    font-size: 1.6em;
}

.doodle input[type="color"] {
    min-height: 1.5em;
}

.doodle hr {
    border-style: solid;
    border-width: 0px 3px 6px 3px;
    border-image: url(../img/doodle/hr.svg) 0 3 6 3 stretch stretch;
}

.doodle blockquote {
    border-left-style: solid;
    border-width: 0px 6px 3px 6px;
    border-image: url(../img/doodle/bq.svg) 0 6 3 6 stretch stretch;
    padding-left: 0.5em;
    border-right-width: 0px;
}

.doodle pre {
    overflow: auto;
}

.doodle table {
    border-collapse: collapse;
    overflow: auto;
    display: block;
}

.doodle table thead {
    border-bottom: 3px solid #bbb;
}

.doodle table caption {
    border-bottom-style: solid;
    border-width: 0px 3px 6px 3px;
    border-image: url(../img/doodle/hr.svg) 0 3 6 3 stretch stretch;
}

.doodle table td {
    vertical-align: top;
}

.doodle select {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 1.5em;
    background: url(../img/doodle/caret.svg) no-repeat right transparent;
    background-position-x: calc(100% - 10px);
}

.doodle select[multiple] {
    background: none;
    padding: 0px;
}

.doodle textarea, .doodle input, .doodle select {
    font-size: 1em;
}
.doodle button, .doodle textarea, .doodle input, .doodle select {
    background-color: unset;
    font-family: 'Indie Flower', cursive;
    color: #3c3c3c;
    outline: none;
}

.doodle input[type="checkbox"] {
    border-width: 6px 6px 6px 6px;
    border-image: url(../img/doodle/checkbox.svg) 6 6 6 6 stretch stretch;
}

.doodle input[type="radio"] {
    border-width: 16px 16px 16px 16px;
    border-image: url(../img/doodle/radio.svg) 16 16 16 16 stretch stretch;
}

.doodle input[type="checkbox"], .doodle input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    background: transparent;
    width: 1.5em;
    height: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.doodle input[type="checkbox"]:after, .doodle input[type="radio"]:after {
    font-size: 1.25em;
    content: " ";
    margin-bottom: -0.25em;
}

.doodle input[type="checkbox"]:disabled:after, .doodle input[type="radio"]:disabled:after {
    content: "-";
    color: grey;
}

.doodle input[type="checkbox"]:checked:after, .doodle input[type="radio"]:checked:after {
    content: "*";
}

.doodle input[type="file"]::file-selector-button {
    font-family: inherit;
    font-size: 0.8em;
    font-size: 1em;
    background-color: unset;
    color: #3c3c3c;
}

.doodle .alert {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(../img/doodle/border.svg) 10 10 10 10 stretch stretch;
}

.doodle .alert.alert-success {
    border-image: url(../img/doodle/border-success.svg) 10 10 10 10 stretch stretch;
    color: #90db35;
}
.doodle .alert.alert-error {
    border-image: url(../img/doodle/border-error.svg) 10 10 10 10 stretch stretch;
    color: #d65a38;
}

.doodle .alert.alert-success a, .doodle .alert.alert-error a {
    color: inherit;
}
