.homepage, .linkpage {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type=text] {
    margin-bottom: 20px;
}

.homepage input[type=text] {
    max-width: 90vw;
    width: 500px;
    margin-bottom: 20px;
}

.alert {
    max-width: 90vw;
    margin-bottom: 20px;
}

.speechbubble {
    width: 500px;
    max-width: 90vw;
}

.squishedlink {
    margin: 0;
    overflow-wrap: break-word;
}
