{% extends 'base.html.twig' %}

{% form_theme form _self %}

{# form_errors.html.twig #}
{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-error">
            {% for error in errors %}
                <div>{{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock form_errors %}

{% block title %}Daveedify!{% endblock %}

{% block body %}
    <div class="homepage">
        <div>
            <img src="{{ asset('img/daveed.png') }}" alt="Daveed" width="160">
            <h1>daveedify!</h1>
            <p>Squish links with Daveed wisdom!</p>

            {{ form_start(form) }}
                {{ form_widget(form.uri) }}
                {{ form_errors(form.uri) }}
            {{ form_end(form) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    Link created successfully!
                    <p class="squishedlink">
                        <a href="{{ absolute_url(path('app_link', {'shortUri': message})) }}">
                            {{ absolute_url(path('app_link', {'shortUri': message})) }}
                        </a>
                    </p>
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
