{% extends 'base.html.twig' %}

{% block title %}Daveedify!{% endblock %}

{% block javascripts %}
    <script>
      let timeleft = 9;
      let redirectTimer = setInterval(() => {
        if (timeleft <= 0) {
          clearInterval(redirectTimer)
          window.location = "{{ link.uri|escape }}"
        }
        document.getElementById("countdown").innerHTML = timeleft
        timeleft -= 1
      }, 1000)
    </script>
{% endblock %}
{% block body %}
    <div class="linkpage">
        <div>
            <img src="{{ asset('img/daveed.png') }}" alt="Daveed" width="160">
            <div class="speechbubble">
                <h1>{{ fact.date|date("jS F Y") }}</h1>
                <p>{{ fact.event }}</p>
            </div>

            <p><small>Redirecting you in: <span id="countdown">10</span></small></p>
        </div>
    </div>
{% endblock %}
